@import '../../../../../styles/variables';

/* ------comment----- */
#comment_wrap {
  padding: 10px;
  font-size: 13px;
  // border-bottom: 1px solid var(--border-color);

  #time_stamp {
    color: rgb(161, 161, 161);
    font-size: 15px;
  }
}

/* -----add comment----- */
#add_comment {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;

  & > input {
    width: 80%;
    height: 30px;
    border: 0px solid black;
    outline: none;
  }
}
